<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow,archive">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="keywords" content="Grabcode, Software development, Full stack dev, Architect, Solution design, Javascript, Angular JS, Node JS, Sails JS, Meteor JS, Cordova, Phonegap, Famous, Famo.us, Jquery">

    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="https://plus.google.com/+AlexandreGirardGrabcode/posts">
    <link rel="publisher" href="https://plus.google.com/+AlexandreGirardGrabcode">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Grabcode website">
    <meta itemprop="description" content="Grabcode - I design solutions, and implement them. I'm always looking for new need to fulfil (please don't be mistaken). Check out my projects.">
    <meta itemprop="image" content="{{site.url}}/img/grabcode.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@grabthecode">
    <meta name="twitter:title" content="Grabcode website">
    <meta name="twitter:description" content="Grabcode - I design solutions, and implement them. I'm always looking for new need to fulfil (please don't be mistaken). Check out my projects.">
    <meta name="twitter:creator" content="@grabthecode">
    <meta name="twitter:image:src" content="{{site.url}}/img/grabcode.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Grabcode website">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://grabcode.fr/">
    <meta property="og:image" content="{{site.url}}/img/grabcode.png">
    <meta property="og:description" content="Grabcode - I design solutions, and implement them. I'm always looking for new need to fulfil (please don't be mistaken). Check out my projects.">
    <meta property="og:site_name" content="Grabcode">
    <meta property="article:published_time" content="2014-08-17">

    <!-- <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/clearfix.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/default.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
