.projects{
  list-style:none;

  li{
    float: left;
    width: 240px;
    min-height:200px;
    border: 1px solid #DDD;
    margin: 1px;
  }

  a{
    display: inline-block;
    width: 100%;
    min-height: inherit;
  }

}
